.hamburger-icon {
    font-size: 30px;
}

.header-search-panel {
    border-radius: 20px ;
}

 nav {
  background-color: #E4E4E4;
  /* background-image: linear-gradient(to right, #5803ff, #ff00a5, #77758f); */
  /* background: transparent linear-gradient(269deg, #280071 0%, #791162 73%, #C72153 100%) 0% 0% no-repeat padding-box;
  opacity: 1; */
  /* background: #E4E4E4 0% 0% no-repeat padding-box; */
}

.search-icon
{
  position:relative;
  left: 15px;
  top: -24px;
  z-index:999;
  color:#BCBCCB
}

.input-append input
{
  height:30px;
  padding-left:25px;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 1px 3px 6px #888888;
    border: none;
}

.user-text-color{
 color: #506070
}

li {
  float: left;
  padding: 0.5rem;
}

ul {
  display: inline;
}

.nav-icon-color {
  color: #676767;

}
