<header class="section-header">
    <section class="header-main border-bottom bg-white">
        <div class="container-fluid">
            <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                <div class="sidebar-heading col-md-1">
                    <a (click)="clickEvent()" data-activates="slide-out" class="button-collapse">
                        <i class="fa fa-bars hamburger-icon"></i>
                        <span class="sr-only" aria-hidden="true">
                            Toggle side navigation
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <img class="d-none d-md-flex" src="../../../assets/ybbi_corp.png" width="150">
                </div>
                <div class="col-md-5">
                    <div class="d-flex form-inputs">
                        <input class="form-control header-search-panel" type="text" placeholder="Search...">
                        <span class="input-group-prepend">
                            <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3"
                                type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-4 pr-5">
                    <div class="d-flex d-md-flex flex-row align-items-center float-right ">
                        <span>Welcome Mr. Shiva Rao (Maker) <br>
                            Last Login: 16/10/18, 10:00 AM</span>
                        <!-- <mat-icon matBadge="10">notifications</mat-icon>
                        <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
                    </div>
                    <a routerLink="/login">Logout</a>
                </div>
            </div>
        </div>
    </section>
</header>