<header class="section-header">
    <section class="header-main border-bottom bg-white">
        <div class="container-fluid">
            <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                <div class="sidebar-heading col-md-1">
                    <a (click)="clickEvent()" data-activates="slide-out" class="button-collapse">
                        <i class="fa fa-bars hamburger-icon"></i>
                        <span class="sr-only" aria-hidden="true">
                            Toggle side navigation
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <img class="d-none d-md-flex" src="../../../assets/ybbi_corp.png" width="150">
                </div>
                <div class="col-md-4">
                  <form class="navbar-form  form-search">
                    <div class="input-append">

                      <!-- <object data="../../../assets/home.svg" [ngClass]="{'selected-menu-icon': selectedMenuItem == 'home'}"> </object> -->
                            <input data-provide="typeahead" data-items="4"  type="text"
                               class="span2 search-query">
                               <span class="fa fa-search search-icon"></span>
                        </div>
                      </form>
                </div>

                <div class="col-md-3 ">
                    <div class="d-flex d-none d-md-flex flex-row align-items-center float-right ">
                        <span class="user-text-color">Welcome Mr. Shiva Rao (Maker) <br>
                            Last Login: 16/10/18, 10:00 AM</span>
                    </div>
                </div>
                <div class="col-md-2">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link pl-5" href="#">
                        <object data="../../../assets/contact.svg" class=" nav-icon-color"> </object>
                        <!-- <i class="fa fa-globe nav-icon-color" aria-hidden="true"></i> -->
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-bell nav-icon-color" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-power-off nav-icon-color" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>

            </div>
        </div>
    </section>
</header>
