#sidebar-wrapper {
  height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {

  font-family: 'Roboto';
  font-size: 10px;
}

#sidebar-wrapper .activebutton {
  color: white;
  background-color: #280071 !important;
}

#sidebar-wrapper .selected-menu-icon {
  filter:  brightness(0) invert(1);
}

#sidebar-wrapper .list-group {
  width: 5rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#navbarSupportedContent li .nav-link {
  color: #fff;
}

#sidebar-wrapper .list-group-item{
  height: auto;
  padding: 0.5rem 1rem;
}

#sidebar-wrapper .list-group-item .fa{
  font-size: 2rem;
}

.sidebar-menu-link {
  color: #3f51b5;
  line-height: 0.7rem;
}


/*Common CSS End*/

/*Tablet Device CSS Start*/

@media (min-width: 992px) {
  #navbarSupportedContent ul {
      margin: auto;
      column-gap: 7rem;
  }
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  .show
  {
    margin-left: 0!important;
  }
  .hide
  {
    margin-left: -15rem!important;
  }
}

/*Tablet Device CSS End*/

/*Mobile Device CSS Start*/
@media (max-width: 767px) {
  .show
  {
    margin-left: -15rem!important;
  }
  .hide
  {
    margin-left: -0!important;
  }
}
/*Tablet Device CSS End*/